{% extends "_layout.html" %}
{% block main %}
<section class="about_us">

  <div class = "about_us_body">
    <div class = "title">
      {{ page_name }}
    </div>

    <div class="div_writing">
        <div class = writing_content>
            Hi I am Nick! Born in Washington DC currently residing in France.  I am the creator of What Sticks. I started building this application because I have a passion for improving our health and wellness. Currently, What Sticks connects with your Oura Ring to trace your sleep score and tracks the weather in your location to give you some sense of how temperature in your location impacts your sleep.
            <br><br>
    
            There is a lot of our data being used being used to advertise to us, but what if we used that data help improve our overall health? What Sticks is right now small step in that future but it’s a step.
            <br><br>
    
            As an economist for 15 years, I started to see the immense power that large datasets could have. For most of my training I was leaning on models with small datasets that tried to be very precise. But as technology has improved and datasets have gotten larger, I’ve found myself more convinced by simpler models that use large datasets. 
            <br><br>
            
            Even though there might be more variables that we need to account for, as a lay person if we find a trend that follows a consistent pattern that might move the needle in my life I would want to be aware and make a decision on it.
            <br><br>
            Amongst many things that have inspired this goal was  an <a href="https://www.pushkin.fm/podcasts/revisionist-history/burden-of-proof">episode of Revisionists History</a>, Malcom Gladwell examines the question of How much more proof do we need? He asks this question and uses the brain disease chronic traumatic encephalopathy (CTE) that has been linked to American Football players. The scientific community has not come to a consensus, but it seems the evidence is overwhelming.
            <br><br>
            I am not in the scientific community and do not aim to give medical advice I just want to use technology that already exists to use.
            <br><br>
            I believe in the future we will have more stronger evidence as technology improves. But I don’t want to shy away from trying to pull together as much data as we have today, which we have a lot, to try to direct our attention to behaviors that are likely to move the needle and align to the lives we want.
            
        </div>

    </div>
    <br>
    <div class="div_writing">
        <h1>More about What Sticks</h1>

        <br>
        <div class="writing_content">
            Article: <a href="https://nrodrig1.medium.com/healthcare-is-not-up-to-date-2e58c01c1477">Healthcare is Not Up To Date</a>
            <br><br>
            iOS device application coming soon!
            <br><br>
            Here are the current Github repos:
            <a href="https://github.com/costa-rica/whatSticks06">Web</a>,
            <a href="https://github.com/costa-rica/whatSticks06api">API</a>,
            <a href="https://github.com/costa-rica/whatSticks06scheduler">Scheduler</a>,
            <a href="https://github.com/costa-rica/whatSticksKivy09">iOS applicaiton</a>
        </div>

    </div>
    <br>
    <div class="div_writing">
        <h1>More about Nick</h1>
        <br>
        <div class="writing_content">
            
            Medium: <a href="https://medium.com/@nrodrig1">Nick Rodriguez</a>
            <br>
            Twitter: <a href="https://twitter.com/EvryMnRodriguez">@EvryMnRodriguez</a>
            <br>
            Github: <a href="https://github.com/costa-rica">costa-rica</a>
            <br>
            LinkedIn: <a href="https://www.linkedin.com/in/nick-rodriguez-0a31a133/">Nick Rodriguez</a>
            <br>
            Email: nick@dashanddata.com
        </div>


    </div>

  </div>

</section>



{% endblock %}