{% extends "_layout.html" %}
{% block main %}

<!-- <div id="alert_wrapper"></div> -->
<section class="more_weather">
  
  <div class="title">
    More Weather
  </div>
  <form method="POST">
  <div class="more_weather_body">
    
    <div class="common_primary_div add_weather_div">
      

        This will add weather history up to the date of the earliest data point existing in your WS account.
        <div class="submit_element_right">
          <button type="submit" name="btn_add_more_weather" value=True class="btn btn-light btn_custom01">
            Add historical weather data
          </button>
        </div>

    </div>

    </div>
  </form>
  </section>

{% endblock %}