@use "custom";
@use "custom_nav";
@use "custom_blog";



:root {
    --nav-height: 123px;
    --table-chart-width: 100%;
  }

body {
    background-color: var(--bs-gray-400);

}
.title {
    font-size: 3em;
}
.btn_custom01{
    border-radius: 3em;
    min-width: 75px;
}
.btn_custom02{
    border-radius: 3em;
    min-width: 75px;
    background-color: var(--bs-secondary);
}
.common_primary_div {
    border: 1px solid var(--bs-primary);
    border-width: .5em;
    border-radius: 3rem;
    background-color: var(--bs-primary);
    padding: 1rem 0 1rem 0;
    color: var(--bs-gray-200);
}

/* Modal */
/* THIS WOrks with apple modal - middle */
.modal {
    text-align: center;
    vertical-align: middle;
  }
// .modal:before {
//     display: inline-block;
//     vertical-align: middle;
//     content: " ";
//     height: 100%;
// }
.modal-dialog{
    display: inline-block;
    text-align: left;
    vertical-align: middle;
    position:relative;
}
.modal-body{
    background-color: var(--bs-gray-500);
}



/* HOME */
section.home {
    padding-top: var(--nav-height);
    display: flex;
    justify-content: center;
    // .not_nav{padding-top: var(--nav-height);}
    .home_body{padding:1rem 2.5% 0 2.5%;}
    .home_buttons{
        display: flex;
        justify-content: center;
        flex-wrap: wrap;
        // margin:0;
        // padding:0;
        .div_button {
            // margin: 0 0 0 0;
            padding:1rem 0 1rem 0;
            width: 100%;
            border-radius: 3rem;
            font-size: 2.5rem;
            display: flex;
            justify-content: center;
            
        }
        .home_register {
            background-color: var(--bs-primary);
            border: solid var(--bs-primary);
            border-width: .5rem;
            color: var(--bs-gray-200);
            margin-bottom:1rem;
            text-decoration: none; 
        }
        .home_login {
            color: var(--bs-primary);
            border:  solid var(--bs-primary);
            border-width: .5rem;
            text-decoration: none; 
    
        }
        .home_login:hover {
            border: .5rem solid var(--bs-gray-100)
        }
        .home_register:hover {
            border: .5rem solid var(--bs-gray-100)
        }
    
    
    
    }
    
    .div_writing{
        padding-top:1rem;
        display: flex;
        justify-content: center;
        flex-wrap:wrap;
        .writing_content{
            width: 100%;
            padding: 2rem;
            border-radius: 3rem;
            font-size: 1.5em;
            background-color: var(--bs-primary);
            border: 1px solid var(--bs-primary);
            border-width: .5em;
            color: var(--bs-gray-200);

            a {
                color: var(--bs-gray-200);
            }
            margin-bottom: 2rem;
        }
        h2{
            width:100%;
            margin-bottom:1rem;
        }
    
    }
    
    
    /* HOME page -- blog post */
    
    ul{
        list-style-type: none;
        padding-left:0;
        a {text-decoration:none;}

    }
    li{
        margin: 0 0 3rem 0;
        border-radius: 2rem;
        padding: 1rem 2rem 2rem 2rem;
        width: 100%;
        background-color: var(--bs-primary);
        color: var(--bs-gray-200);
        a {
            text-decoration:none;
            color: var(--bs-gray-200);
        }
    }
    
    .data_tool_div {
        display: flex;
        flex-wrap:wrap;
    }
    .title_div{
        display:flex;
        width:100%;
        h2{
            margin:0;
            color: var(--bs-gray-100);
        }
    }
    .date_div{
        width:100%;
        display:flex;
        justify-content: end;
        // margin: .5rem 0 0 .5rem;
    }
    .data_tools_description {
        width: 100%;
        padding-left: 1rem;
    }

}



/* Register */
section.register {
    padding-top: var(--nav-height);
    display: flex;
    flex-wrap: wrap;
    // .title {
    //     font-size: 3em;
    //     width: 100%;
    // }
    .register_form {
        width: 95%;
        border-radius: 3em;
        padding: 3rem 0 10rem .2rem;
        margin: 0 0 0 .2rem;
        font-size: 1.5em;
        background-color: var(--bs-primary);
        // color: white;
        color: var(--bs-gray-200);
        .email_combo {
            padding: 0 0 1rem .2rem;
        }

        .register_text {
            // min-width: 90%;
            width: 95%;
        }
        .element_right {
            display: flex;
            justify-content: end;
            flex-wrap: wrap;

            .show_password {
                display: flex;
                width: 100%;
                justify-content: end;
                padding: 0 .5rem 0 0;
            }

            .element_right_sub {
                display: flex;
                justify-content: end;
                flex-wrap: wrap;
                padding: .3rem .5rem 0 0;
                input {
                    font-size: 1.5em;
                    margin-top: .5rem;
                    margin-left: 10%;
                }
                .forgot_password {
                    margin-top: .5rem;

                    a {
                        // color: white
                        color: var(--bs-gray-200);
                    }
                }
            }
        }
    }
}


/* Account_new */
section.account {
    padding-top: var(--nav-height);
    display: flex;
    justify-content: center;
    font-size: 1.5em;
    .account_body{
        width:95%;
        .title {font-size: 2.5rem;}

        .account_grid {
            border: 1px solid var(--bs-primary);
            border-width: .5em;
            border-radius: 3rem;
            background-color: var(--bs-primary);
            padding: 1rem 0 1rem 0;
            color: var(--bs-gray-200);

            .register_text{
                width: 100%;
            }

            .btn_to_label{
                min-width: 110px;
                border: none;
                background:none;
                color: var(--bs-gray-200);
            }
            .element_right{
                padding-top:.25rem;
                display:flex;
                justify-content: end;
            }
            .submit_element_right{
                display:flex;
                justify-content:end;
                input{
                    font-size: 1.5rem;
                }
                
            }
        }
    }
}
.accounts_modal:before{
    display: inline-block;
    vertical-align: middle;
    content: " ";
    height: 25%;

}



/* Add apple */
section.apple{
    padding-top: var(--nav-height);

    .title{
        padding:1rem 0 0 .5rem;
        width:100%;
        font-size: 2rem;
    }
    .apple_body{
        padding: 1rem 0 0 0;
        display: flex;
        justify-content: center;
        flex-wrap: wrap;
        font-size: 1.5em;
        gap:1rem;
        .add_xml_div{
            width: 95%;
            .you_have_x_apple_records{
                padding: 0 0 2rem 0;
            }
            .apple_file{
                width: 90%;
                padding-left: 1rem;
            }
            .submit_element_right{
                display:flex;
                justify-content: end;
                padding: 1rem 0 0 0;
            }




        }
        .find_apple_export{
            width: 95%;
            h2{
                color: var(--bs-gray-200)
            }
            ol {
                margin-left: 1rem;
            }
        }

        .delete_apple{
            width:95%;
            .submit_element_right{
                display:flex;
                justify-content: end;
                padding: 1rem 0 0 0;
            }
        }
    }
}

#addDataModal {
    #Progress_Status {
        width: 50%;
        background-color: #ddd;
      }
      #myprogressBar {
        width: 0%;
        height: 20px;
        background-color: #4CAF50;
      }
}
.apple_add_data_modal:before {
    display: inline-block;
    vertical-align: middle;
    content: " ";
    height: 25%;
}

.apple_delete_modal:before{
    display: inline-block;
    vertical-align: middle;
    content: " ";
    height: 100%;
}

.apple_delete_modal_dialog {
    width: 80%;
    height: 50%;
    .modal-body{
        margin-bottom: 1rem;
    }
    .yes_delete_apple{
        display: flex;
        justify-content: center;
    }
}






/* Dashbaord */
section.dashboard {
    padding-top: var(--nav-height);
    .table_and_chart {
        display:flex;
        flex-wrap:wrap;
        gap: 2rem;
        justify-content: center;
        align-items: center;
        // background-color: red;
        width:var(--table-chart-width);
    }
    
    .table_div_outer{
        flex:1;
        display:flex;
        padding:1rem;
        // background-color: green;
        height:fit-content;
    
    }
    .table_flex{
        display:flex;
        justify-content: center;
        align-items: center;
        width:100%;
    }
    .table_div {
        font-size:3vh;
        display:grid;
        grid-template-columns: 1fr 1fr;
        gap:1rem;
    }
    .header{border-bottom: .5rem solid black;}
    .header_corr{
        display:flex;
        justify-content: center;
        // align-items: center;
    }
    .row_value{
        display:flex;
        justify-content: center;
    }
    .row_header{

        button {
            width: 90%;
            font-size: 1rem;           
        }
    }
    
    .bokeh_div {
        flex:1.5;
        display: flex;
        justify-content: center;
        align-items: center;
        overflow: hidden;
        min-width: 100%;

        background-color: #20c997;
        padding: 2rem;
        border-radius: 2rem;
        margin: 1rem;
        font-size:1rem;
        // z-index: 1;
        img{
            min-width:100%;
            min-height:100%;
            
        }
        .bk-root{
            position:relative;
            z-index: 0;
            // display: none;
            // background-color: red;
            // width:40px;
            .bk {
                position:relative;
                z-index: 0;
                // display: none;
            }
        }
    }
}

/* About us */
section.about_us {
    padding: var(--nav-height) 5px 0 10px;
    
    .about_us_body{

        .title {
            font-size: 3em;
            // background-color: #20c997;
        }
        .div_writing{
            // margin: 5%;
            border-radius: 3em;
            padding: 50px 0 50px 5px;
            margin: 0 0 0 30px;
            // text-align: center;
            font-size: 1.5em;
            background-color: var(--bs-primary);
            border: 1px solid var(--bs-primary);
            border-width: .5em;
            // color: white;
            color: var(--bs-gray-200);
            a {
                // color: white
                color: var(--bs-gray-200);
            }
        }
    }
}

/*Error Page*/
section.Error {
    padding: var(--nav-height) 5px 0 10px;
    color: var(--bs-primary);
    .error_body{
        padding: 0 0 0 5px;
        h3{padding: 25px 0 0 50px;}
    }
}


/* About us */
section.youtube {
    padding: var(--nav-height) 5px 0 10px;
    .video_div{
        padding-left:10%;
        padding-top:25px;
    }
    .videoWrapper {
        position: relative;
        padding-bottom: 56.25%; /* 16:9 */
        height: 0;
    }
    .videoWrapper iframe {
        position: absolute;
        top: 0;
        left: 0;
        width: 80%;
        height: 80%;
    }
    .div_writing{
        // margin: 5%;
        border-radius: 3em;
        padding: 50px 0 50px 5px;
        margin: 0 0 0 30px;
        // text-align: center;
        font-size: 1.5em;
        background-color: var(--bs-primary);
        border: 1px solid var(--bs-primary);
        border-width: .5em;
        // color: white;
        color: var(--bs-gray-200);
        // line-height: 1.5em;
        .indent{padding-left: 15px;
            padding-top: 10px;
            line-height: 1.6em;
        }
    }
}



@media screen and (min-width: 576px) {
    .accounts_modal:before{
        display: inline-block;
        vertical-align: middle;
        content: " ";
        height: 70%;
    
    }
    section.register{
        display: flex;
        justify-content: center;
        .register_body{
            width: 95%;
            max-width:90rem;
            justify-content: center;
            align-items: center;

            .register_form{
                align-items: center;
                padding-left:1rem;
                .email_combo{
                    display:flex;
                    font-size: 2rem;
                    width:100%;
                    label{
                        min-width:10rem;
                        width:10rem;
                    }
                    .register_text{
                        // min-width: 0;
                        width:65%;
                    }
                }
                .element_right{
                    padding-right:8%;
                    
                    .element_right_sub{
                        padding-top: 3rem;
                        .btn_custom01{margin-left:40%;}
                        .btn_custom02{margin-left:40%;}
                    }
                }
            }
        }

    }
}

@media screen and (min-width: 768px) {
    section.home {
        .home_body{
            width: 90%;
            padding-top: 3rem;
        }
        .home_buttons{
            .div_button{padding:2rem 0 2rem 0;}
        }

    }

    section.account{
        font-size:1.7rem;
    }

    section.register{
        display: flex;
        justify-content: center;
        .register_body{
            width: 75%;
            max-width:90rem;
            justify-content: center;
            align-items: center;

        }
    }

    section.dashboard {
        .row_header{

            button {
                width: 90%;
                font-size: 2rem;           
            }
        }
    }

/* Add Apple Data */
    /* Modals */
    .apple_add_modal_content{
        height: 15rem;
    }
    .apple_add_data_modal:before {
        height: 80%;
    }

    .apple_delete_modal_dialog {
        .apple_delete_modal_content{
            height: 15rem;
        }
        .apple_delete_modal_body{
            display: flex;
            align-items: center;
            justify-content: center;
        }
    }


}


//For Screen wider than 1080
@media only screen and (min-width: 1080px) {

    /* Home */
    section.home {
        // background-color: red;
        
        .home_body{
            width: 80%;
            padding-top: 5rem;
        }
        .home_buttons{
            // flex-wrap: nowrap;
            // gap: 1rem;
            justify-content: space-between;
            .div_button{
                width: 49%;
                padding: 4rem 0 4rem 0;
            }
            .home_register{margin-bottom:0;}
        }
        .div_writing{
            padding-top: 4rem;
            .data_tools_list {width:100%;}
        }
    
    }

    /* Accounts */
    section.account{
        .account_body{
            padding: 2rem 0 2rem 0;
            max-width: 100rem;
            .title {
                font-size: 3rem;
                padding:0 0 2rem 0;
            }
            .account_grid{
                display: grid;
                grid-template-columns: 15rem 1fr;
                gap: 1.5rem;
                .btn_to_label {
                    display: flex;
                    padding-left:0;
                }
                .element_right{
                    padding-top:1rem;
                }
            }
        }
    }

    /* Login */
    section.register{
        // display: flex;
        // justify-content: center;
        .register_body{
            // width: 75%;
            // max-width:90rem;
            // justify-content: center;
            // align-items: center;
            .register_form{
                .email_combo{
                .register_text{
                    

                        width:75%;
                        // background-color: green;
                    }

                }
            }
        }
    }


    /* Dashboard */
    section.dashboard{
        .bokeh_div {
            min-width: 1080px;
    
        }
    }

/* About us */
    section.about_us {
        padding: var(--nav-height) 5px 0 10px;
        
        .about_us_body{
            padding: 5%;
            .div_writing{
                .writing_content{ padding: 2.5%}

            }
        }
    }
}







